[submodule "Associate-Data-Scientist-Python-Track/projects/Investigating-Netflix-Movies"]
	path = Associate-Data-Scientist-Python-Track/projects/Investigating-Netflix-Movies
	url = https://github.com/kar137/Investigating-Netflix-Movies.git
[submodule "projects/Investigating-Netflix-Movies"]
	path = projects/Investigating-Netflix-Movies
	url = https://github.com/kar137/Investigating-Netflix-Movies.git
